<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>LOGIN PAGE</h1>
    <form action="{% url 'register'%}" method="post">
        {% csrf_token %}
        <div class="container">
            <h1>Register</h1>
            <center>

                <h1>Login Form</h1>
                
                <form action="{% url 'register' %}" method="post">
                
                {% csrf_token %}
                
                <label for="fname"> Name:</label><br>
                
                <input type="text" id="fname" name="fname"><br>
                
                <label for="contactno">Contact:</label><br>
                
                <input type="text" id="contactno" name="contactno"><br>
                
                <label for="email">Email:</label><br>
                
                <input type="email" id="email" name="email"><br>
                
                <button type="submit">Register</button>
            </center>    
    </form>
    </center>
            
</body>
</html>